<div class="main-content-2 mat-elevation-z8">
  <!--              <mat-spinner></mat-spinner>-->
  <div class="main-content-2-row-1">
    <p>Paris</p>
    <p>{{ myDate | date: 'short' }}</p>
  </div>
  <div class="main-content-2-row-2">
    <p class="tmp">13°C</p>
    <p>Stormy</p>
  </div>
  <div class="main-content-2-row-3">
    <div class="main-content-2-row-3-metrics">
      <span><mat-icon fontIcon="air"></mat-icon> &nbsp; 50 km/h</span>
      <span><mat-icon fontIcon="water-drop"></mat-icon> &nbsp; 40%</span>
      <span><mat-icon fontIcon="cloud"></mat-icon> &nbsp; 10%</span>
    </div>
    <div class="main-content-2-row-3-img">
      <img class="im" src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png">
    </div>


  </div>
</div>
